@import "../../vars.css";

.container {

    color: var(--color-text);
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 10%;
    padding-bottom: 30px;

}

.content {
    display: flex;
    justify-content: center;
}

.content>div {
    margin: 0 80px;
    width: 380px;
    height: 300px;
    /* border: 2px solid black; */
    padding: 20px;
    line-height: 30px;
}

.contactinfo {
    color: var(--color-text);
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;

}

.content>div a {
    text-decoration: none;
    margin-right: 2px;
    color: var(--color-text);
    font-size: 16px;
    /* font-weight: 600; */
    border-radius: 8px;
    background-color: var(--color-primary);
    padding: 2px 12px;

}

.title {
    color: var(--color-text);
    font-size: 35px;
    letter-spacing: 1.75px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 12px;
}


.form {
    /* flex-shrink: 0; */
    flex-grow: 2;
    max-width: 24rem;
    /* margin: 0 80px; */
}

.label {
    flex-grow: 2;

    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-text);
    margin-top: 10px;


}

.input,
.textarea {
    flex-grow: 2;

    background-color: #f9fafb;

    border: 1px solid #d1d5db;

    color: #1f2937;

    font-size: 0.875rem;
    border-radius: 0.5rem;

    width: 100%;
    padding: 0.625rem;

    display: block;
    transition: 0.3s;

}

.input:focus,
.textarea:focus {
    border-color: #3b82f6;
    outline: none;
}

.textarea {
    min-height: 6rem;
    resize: vertical;
}

.button {
    background-color: #3b82f6;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    padding: 0.625rem 1.25rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2563eb;
}

@media screen and (max-width:830px) {

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .content>div {
        padding: 0px;
        width: 300px;
        height: 300px;
        margin: 0;
    }

}